<div class="container-lg-fluid column_left column_right">
	<div class="title">
		<h2 class="h2">{{page.title}}</h2>
	</div>
	<div class="row">
		<div class="about-person">
			<figure>
				<img class="img-fluid" src="{{site.url}}{{site.baseurl}}/assets/img/{{site.about_perfil}}" alt="{{site.about_alt}}" />
			</figure>
		</div>
		<div class="ab-contain">
			<h3 class="h3">Conheça um Pouco Sobre Nós</h3>
			<p><strong>Seja Bem Vindos!</strong> Eu sou Ida e sou desenvolvedora de websites focada em Front-End. Sou formada na <strong>Universidade de São Paulo</strong> em Design Gráfico à mais de 2 anos e com uma experiência no mercado de trabalho de 3 anos. Comecei mais sedo no mundo da Tecnologia e decidi trabalhar com o Desenvolvimento de Sites Institucionais e Landpages. Tenho 2 filhos que completam 14 anos e já estão seguindo meus passos. Espero que possamos contribuir com seu projeto quando necessário.</p>
			<p>Abaixo, temos em demonstração gráfica um pouco da nossa experiência e como podemos ajudá-lo em breve.</p>
		</div>
	</div>
	{% include skills.html %}
	{% include footer.html %}
</div>