<div class="container-lg-fluid column_left column_right">
	<div class="title">
		<h2 class="h2">{{page.title}}</h2>
	</div>
	<div class="row">
		<div class="about-person">
			<figure>
				<img class="img-fluid" src="{{site.url}}{{site.baseurl}}/assets/img/{{site.about_perfil}}" alt="{{site.about_alt}}" />
			</figure>
		</div>
		<div class="ab-contain">
			<h3 class="h3">KNOW A LITTLE ABOUT US</h3>
			<p><strong>Welcome!</strong> I'm Ida and I'm a website developer focused on Front-End. I graduated in <strong>University of Sao Paulo</strong> in Graphic Design for over 2 years and with 3 years of experience in the job market. I started out more in the world of Technology and decided to work with the Development of Institutional Sites and Landpages. I have 2 children who turn 14 and are already following in my footsteps. I hope we can contribute to your project when needed.</p>
			<p>Below, we have a graphic demonstration of our experience and how we can help you soon.</p>
		</div>
	</div>
	{% include skills.html %}
	{% include footer.html %}
</div>