<div class="row justify-content-lg-center my-4">
    <div class="col-lg-8 py-2 px-2 rounded-3">
        <div class="cards">
            <figure class="card_figure">
                <img class="img-fluid img-thumbnail" src="{{posts.post-image}}" alt="{{posts.description}}" />
                <div class="categories_row">
                    <span class="card_categories_span py-1 px-1">{{posts.categories}}</span>
                </div>
            </figure>
            <div class="row">
                <h3 class="h3 card_title">
                    <a href="{{site.url}}{{site.baseurl}}{{posts.url}}" target="_self">{{posts.title | truncate: 50}}</a>
                </h3>
                <div class="card_description">
                    <p>{{posts.description | truncate: 350 strip_html: 100}}</p>
                </div>
            </div>
        </div>
    </div>
    <hr class="bg-light">
</div>