<div class="container">
    <div class="col-lg-6">
        <div class="cards">
            <figure>
                <img class="img-fluid" src="{{site.posts.post-img}}" alt="{{site.posts.description}}" />
                <div class="categories_row">
                    <span>{{posts.categories}}</span>
                </div>
            </figure>
            <div class="row">
                <h3 class="h3">{{site.posts.title}}</h3>
                <p>{{site.posts.description}}</p>
            </div>
        </div>
    </div>
    {% include footer.html %}
</div>