<div class="container-lg-fluid column_left column_right">
	<div class="title">
		<h2 class="h2">{{page.title}}</h2>
	</div>
	<div class="row">
		<div class="ab-contain">
			<h3 class="h3">TALK TO US RIGHT NOW</h3>
			<p>To talk a little about your project, you can send us a message using the form below. As soon as possible, we will contact you to present a little of our work and how we can help you make your goals a reality.</p>
		</div>
	</div>
	{% include form.html %}
	{% include footer.html %}
</div>