<div class="container-sm my-4 py-3">
	<form class="text-light">
		<label for="name" class="col-sm-2 col-form-label text-capitalize fw-bolder">Nome</label>
	    <div class="col-sm-12">
	      <input type="text" class="form-control text-secondary text-capitalize" id="name" value="name" required>
	    </div>
		<label for="staticEmail" class="col-sm-2 col-form-label text-capitalize fw-bolder">Email</label>
	    <div class="col-sm-12">
	      <input type="text" class="form-control text-secondary text-lowercase" id="staticEmail" value="email@example.com" required>
	    </div>
	     <label for="exampleFormControlTextarea1" class="form-label text-capitalize fw-bolder mt-2">Descrição</label>
			<textarea class="form-control text-dark" id="exampleFormControlTextarea1" placeholder="description text" rows="3" required></textarea>
			<!-- Validation e Envio -->
			<div class="col-12 py-4">
		    <div class="form-check">
		      <input class="form-check-input text-secondary" type="checkbox" value="" id="invalidCheck" required>
		      <label class="form-check-label text-secondary" for="invalidCheck">
		        Você nos autoriza a entrar em contato pelo meio de comunicação informado neste formulário?
		      </label>
		      <div class="invalid-feedback">
		        Tente novamente. Ocorreu um erro!
		      </div>
		    </div>
		</div>
		  <div class="d-grid mx-auto">
		    <button class="btn btn-lg btn-outline-danger" type="submit">Enviar Mensagem</button>
		  </div>
	</form>
</div>