<nav class="navbars">
    <ul class="d-flex flex-wrap flex-row justify-content-between align-middle">
        <li><a href="{{site.url}}{{site.baseurl}}/index.html" target="_self">{{site.navbar_main}}</a></li>
        <li><a href="{{site.url}}{{site.baseurl}}/pages/about.html" target="_self">{{site.navbar_about}}</a></li>
        <li><a href="{{site.url}}{{site.baseurl}}/pages/service.html" target="_self">{{site.navbar_serv}}</a></li>
        <li><a href="{{site.url}}{{site.baseurl}}/pages/portfolio.html" target="_self">{{site.navbar_port}}</a></li>
        <li><a href="{{site.url}}{{site.baseurl}}/pages/contact.html" target="_self">{{site.navbar_contact}}</a></li>
        <li><a href="{{site.url}}{{site.baseurl}}/blog.html" target="_self">{{site.navbar_blog}}</a></li>
    </ul>
</nav>