<div id="particles-js" class="particles">
	{% include header.html %}
	<section class="container-hero-title">
		<div class="hero-title">
			<p><sup>{{content.sub_title | truncate: 50}}</sup></p>
			<h2>{{content.title | truncate: 100}}</span></h2>
			<!-- ShareThis BEGIN -->
			<div class="sharethis-inline-share-buttons"></div>
			<!-- ShareThis END -->
		</div>
		<div class="hero-image">
			<img class="img-fluid" src="{{site.url}}{{site.baseurl}}/assets/img/{{site.hero_image}}" alt="{{site.hero_alt}}" />
		</div>
	</section>
</div>