<div class="row align-items-center justify-content-center py-4 mx-2">
{% for portifolio in site.data.portifolio %}
<div class="col-6">
	<div class="portifolio">
		<div class="portifolio-text">
			<h4>Site Institucional</h4>
			<p>Est amet officia dolore eiusmod et adipisicing commodo dolore dolore sunt ut commodo ad nulla nostrud qui consequat eiusmod tempor et sunt nulla dolor cupidatat nisi.</p>
		</div>
		<figure>
			<img class="img-fluid img-thumbnail" src="{{portifolio.src}}" alt="{{portifolio.alt}}" />
		</figure>
	</div>
</div>
{% endfor %}
</div>