.column_left::before, .column_right::after {
    font-family: 'Rubik', sans-serif !important;
    font-size: 30px; color: #ffffff;
	font-weight: 800; padding: 30px;
	text-transform: uppercase;
}
.column_left::before {
	position: absolute;
	display: inline-flex;
	align-items: flex-end;
	justify-content: center;
	content: "web";
	top: calc(100vh - 95vh);
	left: -325px; right: auto;
	background-color: #dc3545;
	width: 300px; height: 500px;
	z-index: 1000;
	border-top-right-radius: 50rem;
	border-bottom-right-radius: 50rem;
	border-radius: 50rem;
	transform: rotate(270deg);
}
.column_right::after {
	position: absolute;
	display: inline-flex;
	align-items: flex-start;
	justify-content: center;
	content: "developer";
	top: calc(100vh - 95vh);
	left: auto; right: -325px;
	background-color: #dc3545;
	width: 300px; height: 500px;
	z-index: -999;
	border-radius: 50rem;
	transform: rotate(270deg);
}