#header {
	background-color: transparent;
}

.logo-header {
	margin: 15px 50px;
}

.logo-header a {
	text-decoration: none;
}

.logo-header h1 {
	font-family: 'Rubik', sans-serif;
	font-size: 1.8em;
	font-weight: 700;
	text-align: center;
	color: #dc3545;
	text-transform: uppercase;
}

.navbars {
	margin: auto 0 auto 0;
	padding: 22px 20px;
}

.navbars li {
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	font-weight: 500;
	list-style: none;
	margin: auto 10px;
	text-transform: capitalize;
}

.navbars li:hover a {
	border-bottom: 1.3px solid crimson;
	transition: 1.1s ease;
}

.navbars li:nth-child(7n) {
	background-color: #dc3545;
	padding: 5px 30px;
	border-radius: 5px;
}

.navbars a {
	text-decoration: none;
	color: #ffffff;
	cursor: pointer;
}