<!-- Bootstrap Scripts bundle.min.js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<!-- particulas js -->
<script src="{{site.url}}{{site.baseurl}}/assets/js/particles.js"></script>
<script>
  /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
particlesJS.load('particles-js', './assets/js/particlesjs-config.json', function() {
  console.log('callback - particles.js config loaded');
});
</script>
<script>
function typeWrite(elemento){
  const textoArray = elemento.textContent.split('');
  elemento.innerHTML = ' ';
  textoArray.forEach(function(letra, i){   
    
  setTimeout(function(){
      elemento.innerHTML += letra;
  }, 200 * i)

});
}
const titulo = document.querySelector('.hero-title h2, span');
typeWrite(titulo);
</script>