<!DOCTYPE html>
<html lang="en">
<head>
	{% include head.html %}
	<title>{{page.title}}</title>
</head>
<body style="background: #000;">
	<section class="container-lg-fluid">
		{% include header.html %}
		<div class="row">
			<div class="title">
				<h2 class="h2">{{page.title}}</h2>
			</div>
			<div class="ab-contain">
				<h3 class="h3">Discover our content</h3>
			</div>
			{% for post in site.posts %}
				{% include cards_blog.html %}
			{% endfor %}
		</div>
	</section>
	{% include scripts/script_b.html %}
</body>
</html>